body {
    font-family: Arial, sans-serif;
    background-color: #5D5379;
    color: white;
    margin: 0;
    padding: 0;
}

.container {
    width: calc(100% - 80px);
    max-width: 400px;
    background-color: #7E7394;
    padding: 20px;
    margin: 20px auto;
    border-radius: 10px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
}

h1 {
    text-align: center;
}

.form-group {
    margin-bottom: 10px;
}

label {
    display: block;
    margin-bottom: 5px;
}

input[type="text"], button {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ddd;
    box-sizing: border-box;
}

.icon {
    width: 15px;
    height: 15px;
    vertical-align: middle;
}

button {
    background-color: #4CAF50;
    margin-top: 20px;
    color: white;
    border: none;
    cursor: pointer;
    font-weight: bold;
}

button:hover {
    opacity: 0.8;
}

.category {
    margin-bottom: 20px;
}

.category h2 {
    text-align: center;
    font-size: 1.2em;
}

.items {
    list-style: none;
    padding-left: 0;
}

.item {
    border: 1px solid #ddd;
    background-color: #999;
    margin-bottom: 5px;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
}

.item:hover {
    background-color: #bbb;
}

.selected {
    background-color: #4CAF50;
}

input[type="checkbox"] {
    display: none;
}

input[type="checkbox"] + label {
    position: relative;
    padding-left: 25px;
    cursor: pointer;
    display: inline-block;
    line-height: 20px;
}

input[type="checkbox"] + label::before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 15px;
    height: 15px;
    border: 2px solid #fff;
    background-color: #f8f8f8;
    border-radius: 3px;
    transition: background-color 0.2s;
}

input[type="checkbox"]:checked + label::before {
    background-color: #4CAF50;
}

input[type="checkbox"]:checked + label {
    color: #fff;
}

input[type="checkbox"] + label {
    color: #fff;
    font-weight: normal;
}

label {
    display: block;
    margin-left: 40px;
}

#alcool-list li, #soft-list li {
    margin-bottom: 10px;
}
