<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Qui amène quoi ?</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
</head>
<body>
<div class="container" id="container">
    <h1>Gsoif.iEfrei.fr</h1>

    <!-- Catégorie Alcool -->
    <div class="category">
        <h2>Alcool</h2>
        <ul class="items" id="alcool-list">
            <!-- Les items d'alcool seront ajoutés ici -->
        </ul>
    </div>

    <!-- Catégorie Soft -->
    <div class="category">
        <h2>Soft</h2>
        <ul class="items" id="soft-list">
            <!-- Les items de soft seront ajoutés ici -->
        </ul>
    </div>

    <!-- Catégorie Soft -->
    <div class="category">
        <h2>Crounch</h2>
        <ul class="items" id="crounch-list">
            <!-- Les items de soft seront ajoutés ici -->
        </ul>
    </div>

    <!-- Formulaire de soumission -->
    <form id="form-choix">
        <div class="form-group">
            <label style="margin-left:0;" for="nom">Attention, impossible de modifier après validation</label>
            <input type="text" id="nom" placeholder="Nom(s)" required>
        </div>
        <button type="submit">J'amène ça !</button>
    </form>

</div>

<!-- Inclusion de index.js ici -->
<script src="{{ url_for('static', filename='js/index.js') }}"></script>
</body>
</html>
